.htaccess
wp-config.php
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/backup*
wp-content/*log*
sitemap.*
tmp/
*.log